.score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 auto;
    margin-bottom: 10px;
}

.score__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20px 30px;
    border: 1px solid;
}

.content__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.content__column {
    margin-right: 50px;
}

@media screen and (min-width: 768px) {
    .score {
        margin-bottom: 50px;
    }

    .score__content {
        width: 30vw;
    }
}

@media (min-resolution: 2dppx) {
    .score {
        margin-bottom: 10px;
    }

    .score__content {
        width: 30vw;
    }
}