.result-selection {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.result-selection th {
    padding-bottom: 20px;
}

.result-selection__title {
    padding: 0 20px;
    font-size: 2em;
}

.result--WIN {
    color: #02cf17;
}

.result--DRAW {
    color: #f58b00;
}

.result--LOSE {
    color: #b01200;
}