.console {
    padding: 50px;
    border: 1px solid;
    border-radius: 50%;
}

.console:hover {
    background: #e1e6e2;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .console {
        padding: 30px;
    }
}

@media (resolution: 2dppx) {
    .console {
        padding: 40px;
    }
}