.points {
    background: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    width: 50px;
}

.points__small {
    color: #ff6f00;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.points__p {
    color: #ffd500;
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    position: relative;
}

@media screen and (min-width: 768px) {
    .points {
        padding: 10px 20px;
        width: 80px;
    }

    .points__small {
        font-size: 16px;
    }

    .points__p {
        font-size: 60px;
    }
}

@media (min-resolution: 2dppx) {
    .points {
        width: 80px;
        padding: 10px;
    }

    .points__small {
        font-size: 12px;
    }

    .points__p {
        font-size: 50px;
    }
}