.result {
    margin: 0 auto;
    flex-direction: column;
}

.result__headline {
    display: inline-flex;
    align-items: center;
}

.result__h1 {
    margin-right: 20px;
}

@media screen and (min-width: 768px) {
    .result {
        width: 50vw;
    }
}

@media (min-resolution: 2dppx) {
    .result {
        width: 50vw;
    }
}