.game-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game-mode__wrapper {
    width: 30vw;
    border: 1px solid;
    padding: 30px 20px;
}

.game-mode__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__headline {
    display: flex;
    flex-wrap: nowrap;
}

.content__btn_player {
    margin-top: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .game-mode__wrapper {
        width: 50vw;
    }
}