.game_over {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 auto;
}

.game_over__title {
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
}

.game_over .result {
    margin: 3em 0;
}