.game_results {
    flex: 1 auto;
    align-items: center;
}

.content__headline {
    display: inline-flex;
}

.content__btn {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .content__btn {
        margin-top: 30px;
    }
}

@media (max-resolution: 2dppx) {
    .content__btn {
        margin-top: 30px;
    }
}